{% extends "base/base.html" %}

{% block content %}
<div class="container pl-5">
    {% if usuario %}
    <h3>Reserva</h3>
    <form action="{% url 'reservar' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
        </div>
        <div class="mb-3">
            <label for="fecha_fin" class="form-label">Fecha de fin</label>
            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
        </div>
        <div class="mb-3">
            <label for="habitacion" class="form-label">Habitación</label>
            <select class="form-select" id="habitacion" name="habitacion">
                {% for habitacion in habitaciones %}
                <option value="{{ habitacion.id }}">Numero: {{ habitacion.nombre }}    || <br> 
                    {% if habitacion.disponible %}
                    Disponibilidad: Disponible    ||<br> 
                    {% else %}
                    Disponibilidad: No Disponible    ||<br> 
                    {% endif %}
                    Descripcion: {{ habitacion.categoria.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="metodo_pago" class="form-label">Metodo de pago</label>
            <select class="form-select" id="metodo_pago" name="metodo_pago">
                {% for metodo in metodos_pago %}
                    {% if metodo.id == 4 %}
                        {% if usuario.tipo == 1 %}
                            <option value="{{ metodo.id }}">{{ metodo.nombre }}    || <br>{{ metodo.descripcion }}</option>
                        {% endif %}
                    {% else %}
                        <option value="{{ metodo.id }}">{{ metodo.nombre }}    || <br>{{ metodo.descripcion }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Reservar</button>
    {% else %}
    <h1>Debe iniciar sesión para acceder a la reserva</h1>
    {% endif %}
</div>
{% endblock %}